
<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

	RewriteRule \.(?:css|js|jpe?g|gif|png)$ - [L]

	RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
</IfModule>